<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">

    <div th:object="${person}">
        <a th:text="*{username}">Имя пользователя: </a>
    </div>

    <form th:action="@{/auth/update/{id} (id=${person.getId()})}">
        <input type="submit" value="Изменить пользователя">
        <input type="hidden" th:value="${person.username}">
    </form>

    <form th:method="DELETE" th:action="@{/auth/delete}" th:object="${person}">
        <input type="submit" value="Удалить пользователя">
        <input type="hidden" th:field="*{password}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
    </form>

    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход">
    </form>
</div>
</body>
</html>